@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DATNWEB.Models.Season;
@{
    ViewData["Title"] = "SeasonEdit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add Season</h4>
        <form method="post" action="/Seasonedit" class="forms-sample" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Season ID</label>
                <input type="text" class="form-control" asp-for="SeasonId" placeholder="ID" value="@Model.SeasonId" readonly>
            </div>
            <div class="form-group">
                <label>Season Name</label>
                <input type="text" class="form-control" asp-for="SeasonName" placeholder="Name" value="@Model.SeasonName">
                <span asp-validation-for="SeasonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="text" value="@Model.ImageUrl" asp-for="ImageUrl" hidden/>
                <input type="file" class="form-control" name="img" accept=".jpg, .jpeg, .png, .jfif" id="imageInput" onchange="validateImage(this,'previewImage')">
                <img id="previewImage" style="max-width: 200px; max-height: 200px; margin-top: 10px;" src="@Model.ImageUrl" />
                <span id="errorImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Information</label>
                <input type="text" class="form-control" asp-for="Information" placeholder="Information" value="@Model.Information">
            </div>
            <div class="form-group">
                <label>Posting Date</label>
                <input asp-for="PostingDate" type="datetime-local" class="form-control" value="@Model.PostingDate?.ToString("yyyy-MM-ddTHH:mm:ss")" />
            </div>

            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            <a class="btn btn-light" href="/admin/Season">Cancel</a>
        </form>
    </div>
</div>

<script src="../Admin/js/ShowImage.js"></script>
