@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="../Home/js/jquery-3.3.1.min.js"></script>
<script src="../Home/js/bootstrap.min.js"></script>
<script src="../Home/js/player.js"></script>
<script src="../Home/js/jquery.nice-select.min.js"></script>
<script src="../Home/js/mixitup.min.js"></script>
<script src="../Home/js/jquery.slicknav.js"></script>
<script src="../Home/js/owl.carousel.min.js"></script>
<script src="../Home/js/main.js"></script>
<script src="@Url.Content("~/lib/signalr/dist/browser/signalr.min.js")"></script>
<script src="@Url.Content("~/pagesjs/Notification.js")"></script>
<script src="@Url.Content("~/pagesjs/baseUrl.js")"></script>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a asp-action="Index" asp-controller="home">
                        <img src="../Home/img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a asp-action="Index" asp-controller="home">Trang chủ</a></li>
                            <li>
                                <a>Thể Loại <span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    @{
                                        QlPhimAnimeContext db = new QlPhimAnimeContext();
                                        var genre = db.Genres.OrderBy(x => x.GenreName).ToList();
                                    }
                                    @foreach (var item in genre)
                                    {
                                        <li>
                                            <a asp-action="category" asp-controller="home" asp-route-Genre="@item.GenreId" >
                                                @item.GenreName
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                            <li><a asp-action="blog" asp-controller="home">Blog</a></li>
                            <li><a asp-action="history" asp-controller="home">Lịch sử</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a href="#" class="search-switch"><span class="icon_search"></span></a>
                    <a asp-action="Package" asp-controller="Home">
                        <svg style="vertical-align: unset !important;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3-fill" viewBox="0 0 16 16">
                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z" />
                        </svg>
                    </a>
                    <a asp-action="Login" asp-controller="Home"><span class="icon_profile"></span></a>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>